.git
.github
vendor/
node_modules/
public/storage
storage/*.key
storage/app/*
storage/framework/*
storage/logs/*
storage/oauth-private.key
storage/oauth-public.key
storage/debugbar/*
storage/logs/*
storage/*.log
*.log
*.cache
*.env
.env.*
.vscode
.vite
phpunit.xml
.phpunit.result.cache
Dockerfile
docker-compose.yml
nano.52.save
